.card {
  background: var(--color-tertiary);
  color: var(--color-white);
  border-radius: 10px;

  &--body {
    font-size: calc($default-font-size * 1.5);
    padding: 1.4rem 2rem;
    min-height: 20rem;

    &-light {
      background: var(--color-secondary-light);
      color: var(--color-tertiary);
      border: 1px solid var(--color-tertiary);
      border-radius: 0 0 10px 10px;
    }
  }

  &--header {
    font-size: $default-font-size;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background: var(--color-tertiary-dark);
    border-radius: 10px 10px 0 0;

    span {
      margin-right: 1rem;
    }
  }
}
