.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: fixed;
  top: 10rem;
  width: 70%;
  left: 15%;
  border-radius: 10px;
  box-shadow: 0 0 0.6rem var(--color-secondary);
  z-index: 100;
  animation: slide-down 300ms ease-out forwards;

  @include respond(tab-port) {
    width: 80%;
    left: 10%;
  }

  @include respond(phone) {
    top: 8%;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
