#experience {
  background-color: var(--color-tertiary);
  padding: 4rem 6rem;

  @include respond(phone) {
    padding: 4rem 2rem;
  }

  .title {
    margin: 0 0 3rem;
    text-align: center;
  }

  // Vertical Timeline
  --line-color: var(--color-primary);

  .vertical-timeline {
    &-element {
      &-content {
        background-color: var(--color-tertiary-light);
        h3 {
          color: var(--color-white);
          padding: 0;
        }
        h4 {
          color: var(--color-primary);
          padding: 0.6rem 0;
          border-bottom: 2px var(--color-primary) solid;
        }
        p {
          font-size: $default-font-size;
          color: var(--color-white);
        }
        &-arrow {
          border-right: 7px solid var(--color-tertiary-light);
        }
      }
      &-date {
        font-size: 1.8rem;
        color: var(--color-white);
      }
      &-icon {
        background: var(--color-tertiary-light);
        box-shadow: 0 0 0 4px var(--color-primary);
        span {
          position: absolute;
          top: 20%;
          left: 20%;
          width: 60%;
          height: 60%;
          background-color: var(--color-white);
          mask-size: cover;
          mask-size: contain;
          mask-image: url('../../../public/icons/code.svg');
        }

        .timeline-study {
          mask-image: url('../../../public/icons/study.svg');
        }
      }
    }
  }
}
